


<div class="content">

<!---------------------- Шапка ---------------------------->
    <div class="header">
      <h3 class="task">Задачи</h3>
       <%= link_to '#', id: "create_todo" do %>
        <%= image_tag("addTodoIcon.png") %>
      <% end %>
    </div>

<!----------------------- Карточки ---------------------------- -->
     <div class="container">
      <% @projects.each do |project| %>
       <div class="item">
         <p id=task_title><%= project.title %></p>
          <div class="line"></div>
          <div class="todo_block">
            <% project.todos.each do |todo| %>
                 <p id="task_text"><%= form_for :todos, method: :patch, html: {id: "update" } do |f| %></p>

                 <%# ..------------------------------------------------Тут что-то неправильно... %>
                 <%= f.check_box(:isCompleted,{class: 'icheckbox_square-blue', dataskin: "square", datacolor: "blue", onchange: "onChange.call(this);", checked: todo.isCompleted, id:"chek_todo_" }, todo.id) %>
                   <label for="chek_todo_<%= todo.id %>"><p class="p_text"><%= todo.text%></p></label>
                  <%= f.hidden_field :id, :value => todo.id %>
                 <% end %>
               <% end %>
               </div>
               </div>
           <% end %>
           </div>
<!---------------- Всплываюший div ---------------------->
<div class="background">
    <div class="container-form">
        <%= form_for :todo, url: todos_path do |form| %>
        <p id="new_task">Новая задача</p>
        <hr>
        <div class="form_text">
        <%= form.text_field :text, placeholder: '  Название задачи...' %>
      </div>
         <br>
         <%#--------------------------------------------------------------------------- вот здесь не получается спрятать слово "категория"// %>
         <%= form.select(:project_id, Project.all.collect{|p| [ p.title, p.id] }, {include_blank: "Категория", minimumResultsForSearch: -1}) %>
         <br>
         <form action="" method="GET|POST">
       <a href="#" class="cansel">ОТМЕНА</a>
       <a href="#" class="ok" onClick="this.parentNode.submit(); ">OK</a>
     </form>
        <% end %>
      </div>

    </div>
    </div>
